* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body {width:100%; max-width:1000px; margin:0 auto; padding:5px 0}
.recoeve-container {font-size:10px; line-height:1.5; padding:0 .7em; font-family:'Malgun Gothic', '맑은 고딕', 나눔고딕, NanumGothic, Tahoma, Sans-serif; background:rgb(240,240,255)}
h1 {display:block; font:inherit; font-size:3em; font-weight:bold; color:rgb(70,70,80); margin:0 0 .5em; padding:.6em .5em; border-bottom:5px solid rgb(140,140,150)}
.form-login {width:20em; max-width:100%; margin:0 auto 1em; padding:1em; font-size:16px; color:white; line-height:1; background:black; border:3px solid rgb(120,120,130)}
.form-login>h2 {margin:0 0 1em; font:inherit; font-size:1.3em; line-height:1.3}
.form-login>label {display:block; color:white; font-size:1em; font-weight:bold; margin:.9em 0 .4em}
.form-login>label:first-of-type {margin-top:0}
.form-login>label.checkbox {font-weight:normal}
.form-login>input {display:block; width:100%; height:auto; overflow:hidden; padding:.3em .5em; font-weight:bold; font-size:1em; line-height:1.5; background:white; color:rgb(50,50,50)}
.form-login>input:focus {background:rgb(240,240,255)}
#user-pwd-caps {display:none}
.form-login>button {width:100%; font:inherit; font-weight:bold; padding:.5em; text-align:center; margin-top:1.3em} .form-login>button:disabled {background:rgb(70,70,70)}
.form-login>.error-msg {border:1px solid gray; padding:.3em .5em; margin:.5em 0 0; color:rgb(255,200,200); line-height:1.3}

.desc {font-size:2em; padding:.5em}
data {display:none}
.lang {font-size:1.6em; padding:.5em}
.p {padding-bottom:1em}
.bold {font-weight:bold}
.reco {color:rgb(100,30,30)}
.eve {color:rgb(30,30,100)}

.cBoth {clear:both}

@media all and (min-width:640px) {
	.form-login {margin:0 .6em 1em 1em; float:right; clear:right}
}